﻿@model CrossWordPuzzleGenerator.Models.WordPuzzle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">

    <div class="form-group">
        @if(@Model.name != null)
        {
            <p>
                Name: @Model.name<br/>
            </p>
        }
        @if (@Model.Person != null)
        {
            <p>
                Creator: @Model.Person.UserName<br />
            </p>
        }
        Id for Api Usage: @Model.id<br />
    </div>
   
        <table class="table table-bordered" cellpadding="0" cellspacing="18" style="text-align: center">
            <tbody>
                @for (int i = 0; i < Math.Sqrt(ViewBag.puzzle.Length); i++)
                {
                    <tr>
                        @for (int j = 0; j < Math.Sqrt(ViewBag.puzzle.Length); j++)
                        {
                            <td>
                                @ViewBag.puzzle[i, j]
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
</div>