﻿
@{
    ViewBag.Title = "Documents";
}

<h2 dir="rtl" style="font-family:'B Nazanin', Times, serif">اسناد استفاده از api ها</h2>
<div dir="rtl" style="font-family:'B Nazanin', Times, serif; font-size:large">
    <p> Api های استفاده شده در این اپلیکیشن همگی از پروتکل http استفاده می کنند. ورودی آنها با content type ، x-www-form-urlencoded ساخته شده و خروجی Json دارند. Api ها به شرح زیر می باشند:</p>
    <p>در تمام api ها اگر مقدار result به عنوان خروجی ثابت است و آن برای هنگامی که Api بدرستی کا ر کند مقدار true بر می گردانددر غیر این صورت پیغام خطا در پارامتر message بر میگرداند و result : false بر میگردانند.</p>
    <table class="table table-responsive" dir="rtl">
        <tr>
            <th>
                نام
            </th>
            <th>
                آدرس
            </th>
            <th>
                ورودی
            </th>
            <th>
                خروجی
            </th>
            <th>
                توضیحات
            </th>
        </tr>

        <tr>
            <td>
            ساختن یک پازل
            </td>
            <td>
                api/GenerateAPuzzle
            </td>
            <td>
               Words: کلمات فاقد نیم فاصله و جدا شده با ، یا ,
               name: نام دلخواه برای پازل(اختیاری)
               personid : ای دی شخصی که سازنده پازل است (اختیاری)
            </td>
            <td>
                Dimention: ابعاد جدول ساخته شده.
                Table: محتوای جدول که یه آرایه یک بعدی از string می باشد و در آن حروف با , از هم جدا شده اند.
            </td>
            <td>
                این api با دریافت لغات آنها را در یک پازل قرار می دهد . اگر همان لغات را دوباره به api بدهید همان جواب را خواهید گرفت
            </td>
        </tr>
        <tr>
            <td>
                دریافت پازل از پیش ساخته شده
            </td>
            <td>
                api/GetPuzzleContent
            </td>
            <td>
                PuzzleId : ای دی پازلی که قبلا ساخته شده است
            </td>
            <td>
                content: محتوای جدول که یه آرایه یک بعدی از string می باشد و در آن حروف با , از هم جدا شده اند. 
            </td>
            <td>
                این api برای استفاده از پازل های قبلی بوجود آمداست
            </td>
        </tr>
        <tr>
            <td>
                جستجو پازل هابا کلماتی که در آنها به کار برده شده اند
            </td>
            <td>
                api/SearchPuzzlesWithWords
            </td>
            <td>
                word: کلمه ای که در جستجوی آن هستید
            </td>
            <td>
                puzzles: که یک آرایه از یک jobject می باشد. این jobject شامل فیلد های name(نام پازل), id(ای دی پازل)words(کلماتی که در آن هستند),dimention(طول جدول)
            </td>
            <td>
                این api برای جستجو کلمات در میان پازل های ساخته شدهبوجود آمده است.
            </td>
        </tr>
        
    </table>

</div>
